<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome to 99 Cats <%= @user.username %></h1>
        <p>
            You have successfully signed up, and can now rent-a-cat.
            Your username is: <%= @user.username %>. <br>
        </p>
        <p>
            To log in and browse some cats, follow this link <%= @url %>.
        </p>
        <p>
            Thanks for signing up, happy surfing.
        </p>
    </body>
</html>